* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  width: 100%;
  padding: 10px;
  color: white;
  text-align: center;
  margin: 0 20%;
  font-family: "Press Start 2P", cursive;
  font-size: 1rem;
}

#mySidenav {
  margin-left: 0;
  background-image: url(../assets/img/stone.png);
  font-family: "Press Start 2P", cursive;
}

#mySidenav li {
  width: 100%;
  list-style: none;
  margin: 1rem 0;
  border: 1px solid orangered;
  background-color: rgba(0, 0, 0, 0.534);
  padding: 10px;
  overflow: hidden;
}

#mySidenav li:hover {
  background-color: orangered;
}

#mySidenav li a {
  padding: 10px;
  margin: 50px;
  color: white;
}

.s {
  display: inline;
  width: 100%;
}

.skull {
  width: 150px;
  display: inline;
}

.cabecera {
  margin-left: 10%;
  width: 100%;
}

header {
  background-color: black;
}

li.imagen {
  height: 200px;
}
li.imagen img {
  height: 200px;
}

span {
  text-align: center;
  padding: 0 35%;
}

/*******************************************************/
/*********************MEDIA QUERIES*********************/
/*******************************************************/

/* Esta web está hecha en desktop-first */

/* Primer Breakpoint */
/* Tablet / Pantalla Pequeña */

@media (min-width: 62.75em) {
}

/* Segundo Breakpoint */
/* Mobil grande / Tablet pequeña */

@media (min-width: 48.063em) {
}

/* Tercer Breakpoint */
/* Movil */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
}
