.body {
  background-image: url(../../assets/img/city1.gif);
  background-size: 100rem;
  background-position: -10px 20px;
  background-color: rgba(0, 0, 0, 0.432);
  height: 2700px;
}

.grupo {
  text-align: center;
  background-image: url(../../assets/img/waterfall.gif);
  background-position: 10rem;
  padding: 20px;
}

label {
  margin: 10px;
  color: white;
  font-weight: 700;
}

input {
  margin: 10px;
}

.onePost {
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.555);
  border: 1px solid rgba(255, 0, 0, 0.548);
  width: 20em;
  color: white;
}

.onePost:hover {
  background-color: red;
  /* scale: 120px;
  rotate: 20deg; */
  overflow: hidden;
  transition: 1s;
}

img {
  margin-bottom: 20px;
  border: 3px solid orangered;
  border-radius: 20%;
  display: block;
  margin-left: 2rem;
  width: 232px;
  height: 229px;
}

li {
  list-style: none;
}

h4 {
  margin-top: 1rem;
  margin-left: 1rem;
}

.linea {
  margin-left: 60%;
  font-size: 0.7em;
}

.texto {
  text-align: center;
}

.cat {
  margin-left: 20%;
}

.btn {
  margin: 1em;
}

/*******************************************************/
/*********************MEDIA QUERIES*********************/
/*******************************************************/

/* Esta web está hecha en desktop-first */

/* Primer Breakpoint */
/* Tablet / Pantalla Pequeña */

@media (min-width: 62.75em) {
}

/* Segundo Breakpoint */
/* Mobil grande / Tablet pequeña */

@media (min-width: 48.063em) {
}

/* Tercer Breakpoint */
/* Movil */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
}
