<div class="grupo form_group">
  <label for="">Busca por título</label>
  <input
    type="text"
    placeholder="Introduce un título"
    (keyup)="manejarTitulo($event)"
  />
  <label for="">Busca por categoría</label>
  <input
    type="text"
    placeholder="Introduce una categoria"
    (keyup)="manejarCategoria($event)"
  />

  <label for="">Busca por categoría</label>
  <select (change)="manejarCampoTexto($event)">
    <option value="todos" [routerLink]="['blog']">Todos</option>
    <option value="vida-salvaje">Vida Salvaje</option>
    <option value="tecnologia">Tecnología</option>
    <option value="zombies">Zombies</option>
    <option value="magia-negra">Magia Negra</option>
    <option value="combate">Combate</option>
  </select>
</div>

<div class="body">
  <ul class="row">
    <div
      class="onePost"
      *ngFor="let post of arrTodosLosPosts; trackBy: trackPost"
    >
      <li
        id="{{ post.id }}"
        class="{{ post.categoria }}"
        [routerLink]="['/detalle-post', post.id]"
      >
        <h4>{{ post.titulo }}</h4>
        <div class="linea row">
          <p>By {{ post.autor }}</p>
          <p>{{ post.fecha }}</p>
        </div>
        <p class="texto">{{ post.texto }}</p>

        <img src="{{ post.imagen }}" alt="{{ post.titulo }}" />
        <i class="{{ post.icono }}"></i>
        <p class="cat">categoría: {{ post.categoria }}</p>
      </li>

      <div class="row col-12">
        <a
          href="#"
          class="btn btn-primary"
          [routerLink]="['/detalle-post', post.id]"
          >Leer Post</a
        >
        <button class="btn btn-danger" (click)="manejarBorrado(post)">
          Eliminar Post
        </button>
      </div>
    </div>
  </ul>
</div>
