* {
  overflow: hidden;
}

.ar {
  background-color: rgba(0, 0, 0, 0.575);
  display: inline;
  margin: 20px;
  padding: 20px;
  border-radius: 5%;
}

form {
  display: inline;
}

label {
  color: white;
  font-weight: 400;
  margin: 20px;
}

.errors {
  color: red;
  font-weight: 700;
  text-align: center;
}

.imagenloca {
  width: 226px;
  height: 223px;
  background-color: white;
  border: 2px solid orangered;
  border-radius: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  margin-bottom: 20%;
  text-align: center;
}

.all {
  background-image: url(../../assets/img/night.webp);
  background-size: 70%;
  background-position: -25px 800px;
}

.uno {
  background-color: rgba(0, 0, 0, 0.575);
  border-radius: 5%;
}

div.tit {
  background-image: url(../../assets/img/waterfall.gif);
  background-position: 10rem;
}

h2 {
  text-align: center;

  color: white;
  margin: 20px;
}

button {
  margin: 2em;
}

/*******************************************************/
/*********************MEDIA QUERIES*********************/
/*******************************************************/

/* Esta web está hecha en desktop-first */

/* Primer Breakpoint */
/* Tablet / Pantalla Pequeña */

@media (min-width: 62.75em) {
}

/* Segundo Breakpoint */
/* Mobil grande / Tablet pequeña */

@media (min-width: 48.063em) {
}

/* Tercer Breakpoint */
/* Movil */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
}
