<div class="col-12 container-fluid locor">
  <div class="row">
    <div class="col-12 card cajaImg" style="width: 5rem;">
      <h5 class="card-title">
        {{ DetallePost?.titulo }}
      </h5>
      <img
        class="card-img-top col-5"
        src="{{ DetallePost?.imagen }}"
        alt="{{ DetallePost?.titulo }}"
      />
      <div class="card-body">
        <p>{{ DetallePost?.texto }}</p>
        <p>{{ DetallePost?.fecha }}</p>
        <p class="card-text">{{ DetallePost?.categoria }}</p>
      </div>
    </div>
    <div class="row col-12">
      <button class="btn btn-primary" [routerLink]="['/blog']">Volver</button>
      <button class="btn btn-danger" (click)="manejarBorrado(DetallePost)">
        Eliminar Post
      </button>
    </div>
  </div>
</div>
