<div class="col-12 container-fluid">
  <div class="row">
    <div class="col-2 card" style="width: 5rem;">
      <img src="{{ idPost?.imagen }}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">
          {{ idPost?.titulo }}
        </h5>
        <p>{{ idPost?.texto }}</p>
        <p>{{ idPost?.fecha }}</p>
        <p class="card-text">{{ idPost?.categoria }}</p>
      </div>
    </div>
    <div class="row col-12">
      <a href="#" class="btn btn-primary" [routerLink]="['/blog']">Volver</a>
      <a href="#" class="btn btn-danger" (click)="manejarBorrado(idPost)"
        >Eliminar Post</a
      >
    </div>
  </div>
</div>
